src/main/resources/wsdl/InboundConnectorService.wsdl

<wsdl:definitions name="InboundConnectorService" targetNamespace="http://uic.cc.org/li/messageprocessing/inbound/"
                  xmlns:ns1="http://uic.cc.org/li/messageprocessing/header"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://uic.cc.org/li/messageprocessing/inbound/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://uic.cc.org/li/messageprocessing/inbound/" version="1.0" xmlns:tns="http://uic.cc.org/li/messageprocessing/inbound/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="SendInboundMessage" type="tns:SendInboundMessage"/>
      <xs:element name="SendInboundMessageResponse" type="tns:SendInboundMessageResponse"/>
      <xs:complexType name="SendInboundMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="Message" type="xs:anyType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SendInboundMessageResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Response" type="xs:anyType"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://uic.cc.org/li/messageprocessing/header" xmlns="http://uic.cc.org/li/messageprocessing/header" xmlns:tns="http://uic.cc.org/li/messageprocessing/inbound/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="Encoded" nillable="true" type="xsd:string"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SendInboundMessageResponse">
    <wsdl:part element="tns:SendInboundMessageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SendInboundMessage">
    <wsdl:part element="tns:SendInboundMessage" name="parameters">
    </wsdl:part>
    <wsdl:part element="ns1:Encoded" name="Encoded">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InboundConnectorService">
    <wsdl:operation name="SendInboundMessage">
      <wsdl:input message="tns:SendInboundMessage" name="SendInboundMessage">
      </wsdl:input>
      <wsdl:output message="tns:SendInboundMessageResponse" name="SendInboundMessageResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InboundConnectorServiceSoapBinding" type="tns:InboundConnectorService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SendInboundMessage">
      <soap:operation soapAction="SendInboundMessage" style="document"/>
      <wsdl:input name="SendInboundMessage">
        <soap:header message="tns:SendInboundMessage" part="Encoded" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="SendInboundMessageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InboundConnectorService">
    <wsdl:port binding="tns:InboundConnectorServiceSoapBinding" name="InboundConnectorServicePort">
      <soap:address location="https://10.10.200.213/LIServices/LIReceiveMessage"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>