src/main/resources/wsdl/LIReceiveMessageService.wsdl

<wsdl:definitions name="LIReceiveMessageService" targetNamespace="http://uic.cc.org/UICMessage"
                  xmlns:ns1="http://uic.cc.org/UICMessage/Header" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://uic.cc.org/UICMessage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:documentation>This WSDL describes the communication protocol for sending TAF-TSI standard messages to partner
        using Common Interface (CI).For detailed Documentation please refer to the CI Inbound Web Service Description
        Document
    </wsdl:documentation>
    <wsdl:types>
        <xs:schema targetNamespace="http://uic.cc.org/UICMessage" version="1.0" xmlns:tns="http://uic.cc.org/UICMessage"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="UICMessage" type="tns:UICMessage"/>
            <xs:element name="UICMessageResponse" type="tns:UICMessageResponse"/>
            <xs:complexType name="UICMessage">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="signature" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="senderAlias" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="encoding" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UICMessageResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xsd:schema targetNamespace="http://uic.cc.org/UICMessage/Header" xmlns="http://uic.cc.org/UICMessage/Header"
                    xmlns:tns="http://uic.cc.org/UICMessage" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="messageIdentifier" nillable="true" type="xsd:string"/>
            <xsd:element name="messageLiHost" nillable="true" type="xsd:string"/>
            <xsd:element name="encrypted" nillable="true" type="xsd:boolean"/>
            <xsd:element name="compressed" nillable="true" type="xsd:boolean"/>
            <xsd:element name="signed" nillable="true" type="xsd:boolean"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="UICMessage">
        <wsdl:part element="tns:UICMessage" name="parameters"/>
        <wsdl:part element="ns1:messageIdentifier" name="messageIdentifier"/>
        <wsdl:part element="ns1:messageLiHost" name="messageLiHost"/>
        <wsdl:part element="ns1:compressed" name="compressed"/>
        <wsdl:part element="ns1:encrypted" name="encrypted"/>
        <wsdl:part element="ns1:signed" name="signed"/>
    </wsdl:message>
    <wsdl:message name="UICMessageResponse">
        <wsdl:part element="tns:UICMessageResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="UICReceiveMessage">
        <wsdl:operation name="UICMessage">
            <wsdl:documentation>This operation is used to send the message to the Remote CI.</wsdl:documentation>
            <wsdl:input message="tns:UICMessage" name="UICMessage"/>
            <wsdl:output message="tns:UICMessageResponse" name="UICMessageResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LIReceiveMessageServiceSoapBinding" type="tns:UICReceiveMessage">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="UICMessage">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="UICMessage">
                <soap:header message="tns:UICMessage" part="messageIdentifier" use="literal"/>
                <soap:header message="tns:UICMessage" part="messageLiHost" use="literal"/>
                <soap:header message="tns:UICMessage" part="compressed" use="literal"/>
                <soap:header message="tns:UICMessage" part="encrypted" use="literal"/>
                <soap:header message="tns:UICMessage" part="signed" use="literal"/>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output name="UICMessageResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LIReceiveMessageService">
        <wsdl:port binding="tns:LIReceiveMessageServiceSoapBinding" name="UICReceiveMessagePort">
            <soap:address location="https://10.10.200.213/LIServices/LIReceiveMessage"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>